/* MEDIA QUERIES (RESPONSIVE) */
/* ------------------------------------------------------------------------------- */

@media only screen and (min-width: 1280px) {

    .tarjetaTexto {
        font-size: 40px;
    }

}

@media only screen and (max-width: 1279px) {


    .contacto {
        flex-direction: column;
    }

    .contactoFormulario {
        width: 100%;
    }

    .contactoInfo {
        max-width: 100%;
    }

}

@media only screen and (min-width: 992px) {
.tarjetaImagen img {
    margin: 50px;
}
}

@media only screen and (max-width: 992px) {
    .tarjetaImagen img {
        margin-top: 50px;
    }
    }

@media only screen and (min-width: 769px) {
    .informativoTexto h3 {
        width: 245px;
    }
    .coverZoom {
        height: 100vh;
    }
    .coverLogo img {
        height: 177px;
    }
    .coverTexto h1 {
        font-size: 50px;
    }
    .coverTexto p {
        font-size: 30px;
    }
    .hambScroll {
        display: none;
        visibility: hidden;
    }
    #hambTop {
        display: none;
        visibility: hidden;
    }
    .menuHamburguesa {
        display: none;
        visibility: hidden;
    }

    .categoriasMobile {
        display: none;
        visibility: hidden;
    }
    
    #nombre , #email , #genero, #mensaje {
        width: 75%;
    }

}

@media only screen and (max-width: 768px) {

    #nombre , #email , #genero , #mensaje {
        width: 100%;
    }
    /* #left {
      margin: 0;
    }
  
    #right {
      margin: 0;
    } */
    .categorias {
        display: none;
        visibility: hidden;
    }

    .coverLinks {
        display: none;
        visibility: hidden;
    }

    .scroll {
        display: none;
        visibility: hidden;
    }

    .footerLinks {
        display: none;
        visibility: hidden;
    }
    .coverZoom {
        height: 100vh;
    }
    .coverTexto {
        width: 100%;
    }
    .coverTexto h1 {
        font-size: 30px;
        text-align: center;
    }
    .coverTexto p {
        font-size: 15px;
        text-align: center;
    }

    .whatsappIcon {
        bottom: 6%;
        right: 10%;
    }

    .aboutUs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .video h1 {
        font-weight: 500;
        font-size: 25px;
    }

    .coverLogo img {
        height: 100px;
    }
    .tarjetaImagen img {
        margin-top: 12px;
    }
}

@media only screen and (min-width: 481px) {
    .tarjetaTexto {
        margin-top: 50px;
    }
    .faq details p {
        font-size: 18px;
    }
    .coverMobile {
        display: none;
    }

}

@media only screen and (max-width: 480px) {
    .coverDesktop {
        display: none;
    }

    .coverIzq {
        text-align: center;
        justify-content: center;
    }

    .coverDer {
        text-align: center;
        justify-content: center;
    }

    .separador p {
        font-size: 18px;
    }

    .informativo {
        padding: 0;
    }
    .tarjetasCaja {
        padding: 0px;
    }

    .botonMarron button , .botonVerde button , .botonRosa button {
        padding-left: 50px;
        padding-right: 50px;
        margin: 0px;
    }
    .tarjetaTexto {
        font-size: 30px;
        margin-top: 30px;
    }
    .tarjetaSpan1 {
        font-size: 30px;
    }
    .corrector {
        padding: 0;
    }
    .informativoIcono img {
        margin: 10px;
    }
    .informativoTexto p {
        font-size: 12px;
    }
    .informativoTexto h3 {
        width: 196px;
    }
    .cover2 , .cover3 {
        width: 75%;
    }


}

@media only screen and (max-width: 480px) {

}

@media only screen and (max-width: 365px) {
    .menuHamburguesa , .hambScroll {
        .menuEnlaces p {
            padding: 0px;
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 14px;
        }
    }

    .faq details summary {
        font-size: 15px;
    }


}