/* Coloca aquí tus variables de color si las tienes */

.containerf {
  max-width: 100%;
  display: flex;
  justify-content: center;
  height: 300px;
  gap: 10px;
}

.categoria {
  flex: 0 0 120px;
  border-radius: 0.5rem;
  transition: 0.5s ease-in-out;
  box-shadow: 1px 1px 5px #afafaf;
  position: relative;
  overflow: hidden;
  transition: flex 0.5s, box-shadow 0.5s, transform 0.5s;
}

.categoriaTexto {
  font-size: 1.5rem;
  color: black;
  display: flex;
  align-items: center;
  padding: 15px;
  opacity: 0;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  transform: translateY(100%);
  transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
  visibility: hidden;
}

.categoriaTexto span {
  display: block;
  margin-top: 5px;
  font-size: 1.2rem;
}

.categoriaTexto a {
  text-decoration: underline white;
  color: black;
}

.categoria:hover {
  flex: 0 0 250px;
  box-shadow: 1px 3px 15px black;
  transform: scale(1.05, 1.05);
}

.categoria:hover .categoriaTexto {
  opacity: 1;
  transform: translateY(0%);
  visibility: visible;
}

.containerf:hover .categoria {
  flex: 0 0 60px;
  box-shadow: 1px 1px 5px #afafaf;
  transform: scale(0.9, 0.9);
}

/* Código específico para cada categoría */
.categoria1 {
  background: url(../assets/img/accesorios1.jpg) no-repeat 50%;
  background-size: cover;
}

/* Las demás categorías siguen aquí */
