/* Reseteo css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 1920px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}


/* Menu hamburguesa, solo resoluciones bajas ---------------------------------------------------------*/

.menuHamburguesa {
  padding: 0 40px;
  height: 80px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: -1px;
  z-index: 3;
}

.menuEnlaces {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  background-color: #ffffff;
  display: grid;
  place-items: center;
  clip-path: circle(0% at top left);
  transition: clip-path .4s;
  z-index: 1;
}

.menuEnlaces p {
  font-size: 20px;
  color: rgb(255, 255, 255);
  border-radius: 3px;
  padding: 10px;
  width: 250px;
  text-align: center;
  background-color: #e2b995;
}

.menuEnlace {
  text-decoration: none;
  z-index: 1;
}

.menuEnlaces:target {
  clip-path: circle(150% at top left);
}

.menuHamburguesa img {
  height: 500px;

}

.menuHamburguesa a img {
  height: 50px;
}

.menuCerrar {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 6.5%;
  top: 3.5%;
}

#menuImg {
  height: 25px;

}


/* HEADER // COVER --------------------------------------------------------------------------------- */
.cover {
  min-height: 100vh;
}

.coverLinks , .scroll {
  text-align: center;
}

.coverLinks ul li, .scroll ul li {
  display: inline-block;
  margin: 5px 10px;
}

/* Efecto transición colores en links */
.linkUnderlined a , .linkInicio a {
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  font-weight: 700;
}

.linkUnderlined a {
  background-image: linear-gradient(
    to right,
    #9cb8a0,
    #9cb8a0 50%,
    rgb(49, 49, 49) 50%
  );
}

.linkUnderlined a:before{
  content: '';
  background: #9cb8a0;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.linkUnderlined a:hover {
 background-position: 0;
}

.linkUnderlined a:hover::before{
  width: 100%;
}

/* Diferente para Inicio */
.linkInicio a {
  background-image: linear-gradient(
    to right,
    #000000,
    #000000 50%,
    #9cb8a0 50%
  );
}

/* Cambiar el color del bg del menu top al hacer scroll */
#navTop {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  box-sizing: border-box;
  padding: 12px 18px;
  transition: background-color 0.4s ease-out;
  z-index: 3;
}

.scroll {
  background-color: #ffffff ;
}

.coverFondo img {
  height: 100vh;
  object-fit: cover;
}

.coverZoom {
  animation: zoom-in-zoom-out 40s ease infinite;
}

.coverLogo {
  margin: 30px;
}

.coverLogo img{
  height: 177px;
}

.coverTexto p , .coverTexto h1 {
  font-weight: 700;
}

.coverTexto p {
  color: #9cb8a0;
  font-size: 30px;
}

.coverTexto h1 {
  color: rgb(60, 60, 60);
  font-size: 50px;
}

.coverBoton {
  display: flex;
  z-index: 1;
  margin-top: 100px;
  margin-bottom: 100px;
}

/* Centrar caption del carousel */
.carousel-caption{
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
}

/* Sacado de tutorial */
/* "Fix -- Prevent blurry elements when it's placed on half a pixel." */
.item {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* Separador -----------------------------------------------------------------------------------------------*/
.separador {
  text-align: center;
  background-color: #e2b995;
}

.iconitos {
  padding: 25px;
}

.iconitos img {
  margin: 0px 10px;
}

.separadorTexto {
  padding-bottom: 10px;
}

.separador p {
  color: white;
  font-size: 25px;
}

/* Productos destacados ----------------------------------------------------------------------------------------*/
.productosLista h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 60px;
}

.productos {
  display: grid;
  grid-template-columns: repeat(auto-fit,
      minmax(300px,
        1fr));
  gap: 40px;
  text-align: center;
  list-style-type: none;
  margin-top: 20px;
  margin-bottom: 30px;
}

#left {
  margin-left: 5%;
}

#right {
  margin-right: 5%;
}

.dontOverflow img {
  width: 300px;
  transition: 1s;
}

.dontOverflow:hover img {
  transform: scale(1.1);
}

.dontOverflow {
  overflow: hidden;
  width: 300px;
  height: 300px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
  margin: 0 auto;
}

.productoData {
  margin: 20px;
}

.productoData p {
  margin: 15px;
}

.productoData img {
  height: 30px;
  width: 30px;
  transition: .5s ease;
}

.productoData img:hover {
  filter: brightness(0.75);
}

/* Categorías selector ------------------------------------------------------------------------------------- */
.categorias {
  display: flex;
  width: 100%;
  height: 430px;
}

.categorias img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: .8;
  transition: .5s ease;
}

.categorias img:hover {
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}

.categorias a {
  display: contents;
}


/* Categorías mobile -----------------------------------------------------------------------------------------*/

.categoriasMobile {
  width: 100%;
  max-height: 450px;
  position: relative;
  display: flex;
  overflow: scroll;
  scroll-snap-type: x mandatory;
}

.categoriasMobile img {
  width: 100%;
  left: 0;
  object-fit: cover;
  border-radius: 5px;
  scroll-snap-align: center;
}

.categoriasMobile a {
  display: contents;
}

/* Sección informativa ----------------------------------------------------------------------------------------------- */
.informativo {
  background-color: #f5f5f5;
  padding: 30px;
}

.informativoCaja {
  letter-spacing: 0.5px;
}

.informativoTexto h3 {
  font-size: 18px;
}

.informativoTexto p {
  margin-bottom: 0px;
  opacity: 0.75;
}

.informativoIcono img {
  width: 50px;
  margin: 50px;
}

/* Tarjetas promoción y acerca de nosotros --------------------------------------------------------------------------*/
.tarjetas {
  padding-top: 50px;
}

.tarjetasCaja {
  margin: 0 auto;
}

.tarjetaImagen {
  display: flex;
  align-items: center;
}

.tarjetaImagen img {
  margin: 50px;
}

.tarjetaTexto {
  letter-spacing: -.05rem;
  font-size: 40px;
  text-align: center;
  margin: 50px;
  font-weight: 700;
}

.tarjetaTexto p {
  text-align: center;
}

.tarjetaSpan1 {
  color: #e2b995;
}

.tarjetaSpan2 {
  color: #9cb8a0;
}

.tarjetaDescripcion {
  margin: 30px;
}

.botonMarron , .botonVerde , .botonRosa {
  display: flex;
  justify-content: center;
}

.botonMarron button , .botonVerde button , .botonRosa button {
  color: white;
  padding-left: 100px;
  padding-right: 100px;
  border: none;
}

.botonMarron button{
  background-color: #e2b995;
  margin: 50px;
}

.botonVerde button {
  background-color: #9cb8a0;
  margin: 50px;
}

.botonRosa button {
  background-color: #e7acaa;
}

.botonMarron button:hover , .botonVerde button:hover , .botonRosa button:hover {
  color: white;
  border: none;
}

.botonMarron button:hover {
  background-color: #f5c8a1;
}

.botonVerde button:hover {
  background-color: #b5d7ba;
}

.botonRosa button:hover {
  background-color: #fcbcba;
}

/* Sección testimonios ----------------------------------------------------------------------------------------- */
.testimonios .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.testimonios .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.testimoniosImg {
  width: 100px;
  height: 100px;
  margin: 20px;
}

.estrellas {
  width: 99px;
  height: 30px;
  margin: 10px;
}

/* Instagram -------------------------------------------------------------------------------------------------*/

.insta {
  display: block;
  background-image: url(assets/img/instaBack.png);
  background-size: cover;
  background-position: center;
}

.instaCaja {
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .3);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  max-width: 325px;
  margin: 0 auto;
  background-color: #e7acaa;
  margin-bottom: 30px;
  border-radius: 3px;
}

.instaCaja h2 {
  padding: 20px;
  color: white;
  font-weight: 700;
}

/* Icono Whats App ---------------------------------------------------------------------------------------------*/
.whatsappIcon {
  position: fixed;
  bottom: 3%;
  right: 3%;
}

.whatsappIcon img {
  width: 50px;
  height: 50px;
}

/* FOOTER -----------------------------------------------------------------------------------------------------*/
footer a {
  transition: all 0.5s ease-out;
}

footer a:visited {
  text-decoration: none;
  color: white;
}

footer a:hover {
  text-decoration: none;
  color: rgb(143, 143, 143);
}

footer a:link {
  text-decoration: none;
  color: white;
}

/* Flechita up ------------------------------------------------------------------------------------------------*/
.flechita a {
  transition: all 0.5s ease-out;
}

.flechita a:hover {
  text-decoration: none;
  color: rgb(143, 143, 143);
}

.flechitaFondo {
  background-color: #e7acaa;
  text-align: center;
}

/* Redes sociales footer ---------------------------------------------------------------------------------------*/

.redesFooter {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 30px;
}

.redesFooter a img {
  width: 50px;
}

/* Menu de links en footer -------------------------------------------------------------------------------------*/
.footerMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e7acaa;
}

.footerLogo {
  text-align: center;
  margin: 20px;
}

.footerLogo a img {
  width: 50%;
}

.footerLinks ul li {
  display: inline-block;
  margin-right: 10px;
  color: white;
  font-weight: 600;
  letter-spacing: 0.3px;
}

.footerBottom {
  text-align: center;
  opacity: 0.5;
}

/* Header diferente para las otras páginas -------------------------------------------------------------------- */
.headerPages {
  min-height: 50vh;
  background-color: #f1f1f1;
  background-image: url(assets/img/coverpages.jpg);
  background-position: center;
  background-size: cover;
}

.headerLogo {
  height: 50vh;
}

/* PÁGINA "PRODUCTOS" */
/* ------------------------------------------------------------------------------- */

#facial , #corporal , #capilar , #banio , #accesorios {
  scroll-margin-top: 80px;
}

/* PÁGINA "SOBRE DE NOSOTROS" */
/* ------------------------------------------------------------------------------- */

.video {
  max-height: 450px;
}

.video h1 {
  font-weight: 700;
  font-size: 60px;
}

.aboutUs {
  max-width: 1200px;
  display: grid;
  grid-row-gap: 100px;
  grid-template-areas:
    "txt0 txt0"
    "txt1 img1"
    "img2 txt2"
    "txt3 img3"
    "img4 txt4"
    "txt5 img5"
    "prof prof"
  ;
}

.faq0texto {
  grid-area: txt0;
  font-style: italic;
}

.faq1texto {
  grid-area: txt1;
  box-shadow: #e7acaa 10px 11px 0px, rgba(0, 0, 0, 0.25) 4px 4px 0px;
}

.faq2texto {
  grid-area: txt2;
  box-shadow: #e2b995 10px 11px 0px, rgba(0, 0, 0, 0.25) 4px 4px 0px;
}

.faq3texto {
  grid-area: txt3;
  box-shadow: #eae9e4 10px 11px 0px, rgba(0, 0, 0, 0.25) 4px 4px 0px;
}

.faq4texto {
  grid-area: txt4;
  box-shadow: #d3e0ce 10px 11px 0px, rgba(0, 0, 0, 0.25) 4px 4px 0px;
}

.faq5texto {
  grid-area: txt5;
  box-shadow: #9cb8a0 10px 11px 0px, rgba(0, 0, 0, 0.25) 4px 4px 0px;
}

.faq1img , .faq2img , .faq3img , .faq4img , .faq5img {
  width: 300px;
  border-radius: 25px;
}

.faq6img {
  width: 150px;
  border: 3px solid #e7acaa;
  border-style: dashed;
}

.faq1img {
  grid-area: img1;
}

.faq2img {
  grid-area: img2;
}

.faq3img {
  grid-area: img3;
}

.faq4img {
  grid-area: img4;
}

.faq5img {
  grid-area: img5;
}

.faq6img {
  grid-area: img6;
}

.faqProfile {
  grid-area: prof;
  border-radius: 25px;
}

/* PÁGINA "PREGUNTAS FRECUENTES" */
/* ------------------------------------------------------------------------------- */

.faq {
  max-width: 1200px;
  background-color: #eae9e4;
}

.faqAclaracion {
  font-style: italic;
}

/* PÁGINA "CONTACTO" */
/* ------------------------------------------------------------------------------- */

.contacto {
  max-width: 1200px;
}

.contactoFormulario {
  background-color: #eae9e4;
  width: 65%;
}

.contactoFormulario h2 {
  font-family: 'Pacifico', cursive;
}

form div textarea {
  height: 100px;
}

#genero, #suscribirse , ::placeholder {
  font-weight: 600;
  font-size: 1.1rem;
  color: #757575;
}

.contactoInfo {
  max-width: 35%;
  background-color: #e7acaa;
  color: white;
}

.contactoInfo ul li {
  width: 100%;
  list-style-type: none;
}

.contactoInfo img {
  max-width: 20px;
  max-height: 20px;
  margin: 5px;
}

.mapa {
  max-width: 1200px;
}

/* Esto es para el efecto zoom del cover del index */
/* ------------------------------------------------------------------------------- */
@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

/* MEDIA QUERIES (RESPONSIVE) */
/* ------------------------------------------------------------------------------- */

@media only screen and (min-width: 1280px) {
  .menuHamburguesa {
    display: none;
    visibility: hidden;
  }
  
  .categoriasMobile {
    display: none;
    visibility: hidden;
  }
}

@media only screen and (max-width: 1279px) {
  .categorias {
    display: none;
    visibility: hidden;
  }

  .coverLinks {
    display: none;
    visibility: hidden;
  }

  .scroll {
    display: none;
    visibility: hidden;
  }

  .footerLinks {
    display: none;
    visibility: hidden;
  }

  .contacto {
    flex-direction: column;
  }

  .contactoFormulario {
    width: 100%;
  }

  .contactoInfo {
    max-width: 100%;
  }

}

@media only screen and (max-width: 768px) {
  #left {
    margin: 0;
  }

  #right {
    margin: 0;
  }

  .tarjetaTexto {
    font-size: 30px;
  }

  .whatsappIcon {
    bottom: 6%;
    right: 10%;
  }

  .aboutUs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .video h1 {
    font-weight: 500;
    font-size: 25px;
  }

  .coverLogo img {
    height: 100px;
  }
}

@media only screen and (max-width: 480px) {

  .separador p {
    font-size: 18px;
  }
  .informativo {
    padding: 0;
  }

}