/* PÁGINA "SOBRE DE NOSOTROS" */
/* ------------------------------------------------------------------------------- */

.video {
    max-height: 450px;

    .video h1 {
        font-weight: 700;
        font-size: 60px;
    }
  }

  .aboutUs {
    max-width: 1200px;
    display: grid;
    grid-row-gap: 100px;
    grid-template-areas:
      "txt0 txt0"
      "txt1 img1"
      "img2 txt2"
      "txt3 img3"
      "img4 txt4"
      "txt5 img5"
      "prof prof"
    ;

    .faq0texto {
        grid-area: txt0;
        font-style: italic;
    }
      
    .faq1texto {
        grid-area: txt1;
        box-shadow: #e7acaa 10px 11px 0px, rgba(0, 0, 0, 0.25) 4px 4px 0px;
    }
      
    .faq2texto {
        grid-area: txt2;
        box-shadow: #e2b995 10px 11px 0px, rgba(0, 0, 0, 0.25) 4px 4px 0px;
    }
      
    .faq3texto {
        grid-area: txt3;
        box-shadow: #eae9e4 10px 11px 0px, rgba(0, 0, 0, 0.25) 4px 4px 0px;
    }
      
    .faq4texto {
        grid-area: txt4;
        box-shadow: #d3e0ce 10px 11px 0px, rgba(0, 0, 0, 0.25) 4px 4px 0px;
    }
      
    .faq5texto {
        grid-area: txt5;
        box-shadow: #9cb8a0 10px 11px 0px, rgba(0, 0, 0, 0.25) 4px 4px 0px;
    }
      
    .faq1img , .faq2img , .faq3img , .faq4img , .faq5img {
        width: 300px;
        border-radius: 25px;
    }
      
    .faq6img {
        width: 150px;
        border: 3px solid #e7acaa;
        border-style: dashed;
    }
      
    .faq1img {
        grid-area: img1;
    }
      
    .faq2img {
        grid-area: img2;
    }
      
    .faq3img {
        grid-area: img3;
    }
      
    .faq4img {
        grid-area: img4;
    }
      
    .faq5img {
        grid-area: img5;
    }
      
    .faq6img {
        grid-area: img6;
    }
      
    .faqProfile {
        grid-area: prof;
        border-radius: 25px;
    }
  }