/* PÁGINA "PREGUNTAS FRECUENTES" */
/* ------------------------------------------------------------------------------- */

.faq {
  max-width: 1200px;
  background-color: $colorVerdeClaro;

  .faqAclaracion {
    font-style: italic;
  }
}
