/* PÁGINA "PREGUNTAS FRECUENTES" */
/* ------------------------------------------------------------------------------- */

.faq {
  max-width: 1200px;
  background-color: $colorVerdeClaro;

  .detalles {
    background-color: #F8F9FA;
  }

  .faqAclaracion {
    font-style: italic;
  }
}
