/* Selector de categorías */


.categoriasSelector {
    width: 80%;
    max-width: 1400px;
    display: flex;
    justify-content: center;
    height: 500px;
    gap: 10px;
    margin: 0 auto;
  
    .categoria1 , .categoria2 , .categoria3, .categoria4, .categoria5 {
      flex-basis: 20%;
      border-radius: 0.5rem;
      transition: 0.5s ease-in-out;
      box-shadow: 1px 1px 5px #afafaf;
      position: relative;
      overflow: hidden;
  
      .categoriaTexto {
        text-align: center;
        font-size: 1.5rem;
        color: $colorMarron;
        display: flex;
        align-items: center;
        padding: 15px;
        opacity: 0;
        flex-direction: column;
        height: 100%;
        justify-content: flex-end;
        background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.5) 0%,
          rgba(0, 0, 0, 0) 100%
        );
        transform: translatey(100%);
        transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
        visibility: hidden;
  
        span {
          display: block;
          margin-top: 5px;
          font-size: 1.2rem;
        }
      }
      .categoriaTexto a {
        text-decoration: underline white;
        color: $colorBlanco;
      }
  
      &:hover {
        flex-basis: 30%;
        box-shadow: 1px 3px 15px $colorGrisClaro;
      }
  
      &:hover .categoriaTexto {
        opacity: 1;
        transform: translatey(0%);
        visibility: visible;
      }
    }
    .categoria1 {
      background: url(../assets/img/categoriafacial.jpg) no-repeat 50%;
      background-size: cover;
    }
    .categoria2 {
      background: url(../assets/img/accesorios2.jpg) no-repeat 50%;
      background-size: cover;
    }
    .categoria3 {
      background: url(../assets/img/accesorios3.jpg) no-repeat 50%;
      background-size: cover;
    }
    .categoria4 {
      background: url(../assets/img/accesorios4.jpg) no-repeat 50%;
      background-size: cover;
    }
    .categoria5 {
      background: url(../assets/img/banio1.jpg) no-repeat 50%;
      background-size: cover;
    }
  }

  .categoriasTitulo {
    margin-top: 100px;
    text-align: center;
  }