/* Categorías selector ------------------------------------------------------------------------------------- */
.categorias {
    display: flex;
    @include medidas(100%,430px);
    img {
      width: 0px;
      flex-grow: 1;
      object-fit: cover;
      opacity: 0.8;
      transition: 0.5s ease;
      &:hover {
        width: 300px;
        opacity: 1;
        filter: contrast(120%);
      }
    }
    
    a {
      display: contents;
    }
  }
  

  

  
