/* Instagram -------------------------------------------------------------------------------------------------*/

.insta {
  width: 80%;
  max-width: 1400px;
  text-align: center;
  @include fjcenter;
  margin: 0 auto;
  background-image: url(../../assets/img/instaBackground.png);
  background-position: center;
  background-repeat: no-repeat;

  .instaCaja {
    @include fjcenter;
    flex-direction: column;
    text-align: center;
    max-width: 325px;
    margin: 0 auto;
    background-color: $colorMarron;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    h2 {
      padding: 20px;
      color: $colorBlanco;
      font-weight: 700;
    }

  }
}

.instagram-media {
  margin: 0 auto;
}