/* Instagram -------------------------------------------------------------------------------------------------*/

.insta {
  display: block;
  background: {
    image: url(../assets/img/instaBack.png);
    size: cover;
    position: center;
  }

  .instaCaja {
    @include fjcenter;
    flex-direction: column;
    text-align: center;
    max-width: 325px;
    margin: 0 auto;
    background-color: $colorRosa;
    margin-bottom: 30px;
    border-radius: 3px;
    h2 {
      padding: 20px;
      color: $colorBlanco;
      font-weight: 700;
    }
  }
}