/* Separador ------------------------------------------------------------------------------------------------*/
.separador {
    background-color: $colorMarron;
    color: $colorBlanco;
    div img {
      filter: brightness(500%);
    }
  }