/* Icono Whats App ---------------------------------------------------------------------------------------------*/
.whatsappIcon {
    position: fixed;
    bottom: 3%;
    right: 3%;
    z-index: 1;
    img {
      @include medidas(50px, 50px);
    }

  }

  #scrollTop {
    position: fixed;
    bottom: 11%;
    right: 3%;
    z-index: 5;
  }
  
  #scrollTop,
  #wppIcon {

    transition: opacity 1s ease-in-out; /* Agrega una transición de opacidad */
    opacity: 0 ; /* Inicialmente oculto */
  }
  
  #scrollTop.show,
  #wppIcon.show {
    display: block;
    opacity: 1; /* Mostrar con opacidad completa */
  }