.botonMarron , .botonVerde , .botonRosa {
    display: flex;
    justify-content: center;
}
  
.botonMarron button , .botonVerde button , .botonRosa button {
    color: white;
    padding-left: 100px;
    padding-right: 100px;
    border: none;
}
  
.botonMarron button{
    background-color: $colorMarron;
}
  
.botonVerde button {
    background-color: $colorVerdeOscuro;
    margin: 50px;
}
  
.botonRosa button {
    background-color: $colorRosa;
}
  
.botonMarron button:hover , .botonVerde button:hover , .botonRosa button:hover {
    color: white;
    border: none;
}
  
.botonMarron button:hover {
    background-color: $colorMarronHover;
}
  
.botonVerde button:hover {
    background-color: $colorVerdeHover;
}
  
.botonRosa button:hover {
    background-color: $colorRosaHover;
}